.icon(@url, @iconW, @iconH){
	.inline;
	background: center;
	text-align: center;
	&:hover{
		height: @iconH+10;
	}
}


.inline{
	display: inline-block;
	vertical-align: middle;
	text-align: center;

}
