header{
	width: 100%;
}
.container{
	width: 1000px;
	margin: 0 auto;
	background: @backCol;

}

.logo{
	width: @iconW*2;
	height: @iconH+10%;
	margin-left: 10px;
	line-height: 100px;
	background: @white;
	.inline;

}